Genetic-algorithm/__pycache__/fitness_function.cpython-310.pyc
Genetic-algorithm/__pycache__/individual.cpython-310.pyc
Genetic-algorithm/__pycache__/solver.cpython-310.pyc
Minimax/__pycache__/DnB_functionals.cpython-310.pyc
Minimax/__pycache__/heuristic_DnB.cpython-310.pyc
Minimax/__pycache__/minimax.cpython-310.pyc

Minimax/__pycache__/heuristic_DnB.cpython-310.pyc
Minimax/__pycache__/minimax.cpython-310.pyc
Minimax/__pycache__/test.cpython-310.pyc
ID3_algorithm/data/.~lock.CardiovascularDiseaseDetection.docx#
ID3_algorithm/__pycache__/data_prep.cpython-310.pyc
ID3_algorithm/__pycache__/solver.cpython-310.pyc
Q_learning/solver2.py
